.form {

    // .form-top
    &-top {
        margin-top: 57px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;

        @media (max-width:1024px) {
            margin-top: 0;
        }

        p {
            line-height: 130%;
            opacity: 0.4;
            max-width: 430px;
        }
    }

    // .form__item
    &__item {
        flex: 1 1 auto;
        position: relative;
        margin-bottom: 20px;

        input,
        textarea {
            width: 100%;
            height: 60px;
            padding: 27px 0 10px 0;
            line-height: 130%;
            border-bottom: 1px solid rgba($color: $white, $alpha: 0.2);
            transition: all 0.3s ease 0s;

            @media (max-width:1024px) {
                height: 50px;
            }

            &::placeholder {
                color: rgba($color: $white, $alpha: 0.4);
            }
        }

        textarea {
            height: 120px;
            resize: none;

            @media (max-width:1024px) {
                height: 80px;
            }
        }

        span {
            transition: all 0.3s ease 0s;
            position: absolute;
            left: 0;
            top: 25px;
            display: block;
            color: rgba($color: $white, $alpha: 0.4);
        }

        &._active,
        &:focus,
        &:active {

            input,
            textarea {
                border-color: $white;
            }

            span {
                font-size: 15px;
                top: 0;

                @media (max-width: 1024px) {
                    font-size: 13px;
                }
            }
        }

        @media (any-hover: hover) {
            &:hover {

                input,
                textarea {
                    border-color: $white;
                }

                span {
                    font-size: 15px;
                    top: 0;

                    @media (max-width: 1024px) {
                        font-size: 13px;
                    }
                }
            }
        }

        &._error {
            border-color: red;

            span,
            input,
            textarea {
                color: red;

                &::placeholder {
                    color: red;
                }
            }
        }
    }

    // .form-privacy
    &-privacy {
        margin-top: 60px;
        font-size: 15px;
        color: rgba($color: $white, $alpha: 0.4);
        max-width: 392px;

        @media (max-width:1024px) {
            margin-top: 40px;
            font-size: 13px;
        }

        a {
            color: $white;
        }
    }

    ._btn {
        margin-top: 40px;

        @media (max-width:1024px) {
            margin-top: 20px;
        }
    }

    // .form__btn
    &__btn {
        display: flex;
        align-items: center;
        gap: 40px;
        margin-top: 40px;

        @media (max-width:1024px) {
            gap: 20px;
            margin-top: 20px;
        }

        & > img {
            width: 82px;
            flex: 0 0 auto;
        }

        ._btn {
            margin-top: 0;
            width: auto;
            flex: 1 1 auto;
        }
    }

    .wpcf7-response-output {
        display: none !important;
    }

    .wpcf7-spinner {
        position: absolute;
        right: 0;
        margin: 0;
        bottom: 0;
    }

    form.submitting {
        pointer-events: none;
        position: relative;

        &:before {
            display: block;
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: $white, $alpha: 0.03);
            border-radius: 8px;
        }
    }
}