.grid {
    display: grid;
    gap: 40px;

    @media (max-width:1024px) {
        gap: 20px;
    }

    // .grid-2
    &-2 {
        grid-template-columns: repeat(2, 1fr);

        @media (max-width: 1024px) {
            grid-template-columns: 1fr;
        }
    }

    // .grid-3
    &-3 {
        grid-template-columns: repeat(3, 1fr);

        @media (max-width: 1024px) {
            grid-template-columns: 1fr;
        }
    }

    // .grid-4
    &-4 {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width:1024px) {
            grid-template-columns: 1fr;
        }
    }

    .empty-grid-item {
        @media (max-width:1024px) {
            display: none;
        }
    }
}