.hero {
    position: relative;
    @include adaptive-value('margin-bottom', 150, 75, 1);

    &:before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(252deg, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.50) 100%);
        pointer-events: none;
    }

    .img,
    ._video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;

        img,
        picture {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .hero__container
    &__container {}

    // .hero__body
    &__body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 40px;
        position: relative;
        padding: 40px 0;

        @media (max-width:1024px) {
            gap: 20px;
            padding: 20px 0;
        }

        h1 {}
    }

    // .hero-cases
    &-cases {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        width: 100%;

        @media (min-width:1025px) {
            max-width: 680px;
            right: 0;
            bottom: 40px;
            position: absolute;
            z-index: 1;
        }

        @media (max-width:1024px) {
            gap: 10px;
            margin-top: 20px;
        }

        // .hero-cases__item
        &__item {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 20px;
            background-color: rgba($color: $white, $alpha: 0.03);
            color: rgba($color: $white, $alpha: 0.4);
            font-size: 15px;
            font-weight: 500;

            @media (max-width:1204px) {
                gap: 10px;
                padding: 10px;
                font-size: 13px;
            }

            span {
                display: flex;
                align-items: center;
                gap: 6px;

                @media (max-width:1024px) {
                    gap: 10px;
                    flex-direction: column;
                    align-items: flex-start;
                }
            }

            .icon {
                width: 34px;
                height: 34px;
                background-color: $white;
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 0 0 auto;

                @media (max-width:1024px) {
                    display: none;
                }

                img,
                svg {
                    width: 10px;
                    height: 10px;
                    stroke: $black;
                    flex: 0 0 auto;
                }
            }
        }
    }

    // .hero-page
    &-page {
        &:before {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
        }

        .breadcrumbs {
            align-self: flex-start;
            margin-bottom: auto;
        }

        .hero__body {
            padding: 120px 0 40px 0;

            @media (max-width:1024px) {
                padding: 80px 0 40px 0;
            }

            ._subtitle {
                max-width: 560px;
                @include adaptive-value('font-size', 18, 16, 1);
            }
        }

        &:not(.hero-payment) {
            ._btn {
                width: 100%;
            }
        }
    }

    // .hero-payment
    &-payment {
        margin-bottom: 0 !important;

        .breadcrumbs {
            position: absolute;
            top: 120px;
            left: 0;

            @media (max-width:1024px) {
                top: 80px;
            }
        }

        .hero__body {
            justify-content: center;
            align-items: center;
            text-align: center;

            ._subtitle {
                max-width: 580px;
            }

            .h1 {}
        }

        // .hero-payment__fail
        &__fail {
            .img {
                max-width: 1160px;
                left: unset;
                right: 50%;

                img,
                picture {
                    object-position: right;
                }

                @media (max-width:1024px) {
                    right: 0;
                    height: 64%;
                    top: unset;
                    bottom: 0;
                }
            }
        }
    }
}

body:has(.hero-payment__success) .footer {
    border-top: 0;
}