.single-product {
    @include adaptive-value('margin-bottom', 80, 40, 1);

    .grid {
        @media (min-width:1025px) {
            padding-bottom: 40px;
            position: relative;

            &:after {
                position: absolute;
                content: '';
                left: 0;
                bottom: 0;
                width: 150vw;
                left: -50vw;
                height: 1px;
                background-color: rgba($color: $white, $alpha: 0.2);
            }
        }

        & > :first-child {
            display: flex;
            flex-direction: column;
            gap: 40px;
            justify-content: space-between;

            @media (max-width:1024px) {
                flex-direction: column-reverse;
            }
        }

        ._btn {
            width: 100%;
        }
    }

    .swiper {
        width: 100%;
        min-width: 0;
        min-height: 0;
    }

    h1 {
        max-width: 1220px;
    }

    .text-box {
        max-width: 470px;
    }

    .pagination {
        position: absolute;
        left: 50%;
        transform: translate(-50&, 0);
        bottom: 20px;
        z-index: 2;
    }

    // .single-product__tabs
    &__tabs {
        .section__body {
            max-width: 900px;
        }
    }
}

.tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 80px;

    @media (max-width:1024px) {
        margin-bottom: 40px;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 58px;
        font-size: 16px;
        font-weight: 500;
        border: 1px solid rgba($color: $white, $alpha: 0.2);
        transition: all 0.3s ease 0s;

        @media (max-width:1024px) {
            height: 48px;
        }

        &._active {
            background-color: $white;
            border-color: $white;
            color: $black;
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: $white;
                border-color: $white;
                color: $black;
            }
        }
    }

    // .tabs-content
    &-content {
        .title {
            margin-bottom: 40px;

            @media (max-width:1024px) {
                margin-bottom: 20px;
            }
        }

        .grid {
            gap: 20px;

            @media (min-width:601px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width:600px) {
                gap: 10px;
            }

            a {
                display: block;
                height: 100%;

                img,
                picture {
                    min-height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

.variation {

    // .variation-actions
    &-actions {
        display: flex;
        gap: 20px;
        position: relative;

        @media (max-width:1024px) {
            flex-direction: column;
        }

        .price {
            display: block;
            margin-bottom: 10px;
            line-height: 130%;
            font-size: 16px;

            @media (max-width:1024px) {
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        ._btn {
            width: 100%;
        }

        .select {
            flex: 0 0 auto;

            label {
                display: block;
                margin-bottom: 10px;
                line-height: 130%;
                font-size: 16px;
            }
        }
    }

    // .variation-btn
    &-btn {
        flex: 1 1 auto;
    }
}